#game_words {
  display: inline;
}

#game_words:focus-visible {
  outline: 0;
}

.doneWords {
  display: inline;
  color: black;
  font-family: monospace;
  font-size: 1.5rem;
}

.bg-green-200 {
  display: inline;
  color: green;
  font-family: monospace;
  font-size: 1.5rem;
}

.bg-red-200 {
  display: inline;
  color: red;
  font-family: monospace;
  font-size: 1.5rem;
}

.cursor {
  display: inline;
  font-size: 1.5rem;
}

.cursor {
  animation: cursor-blink 1s infinite;
}


@keyframes cursor-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}


.pendingWords {
  display: inline;
  color: dimgray;
  font-family: monospace;
  font-size: 1.5rem;
}

.short {
  width: 80%;
  margin: auto;
}